A:link {
	COLOR: #618898; TEXT-DECORATION: none
}
A:visited {
	COLOR: #618898; TEXT-DECORATION: none
}
A:hover {
	COLOR: #92c2d7
}
A:active {
	COLOR: #92c2d7
}
H2 {
	FONT-WEIGHT: normal; MARGIN: 8px 0px 5px
}
H3 {
	FONT-WEIGHT: normal; MARGIN: 8px 0px 5px
}
H4 {
	FONT-WEIGHT: normal; MARGIN: 8px 0px 5px
}
H5 {
	FONT-WEIGHT: normal; MARGIN: 8px 0px 5px
}
H6 {
	FONT-WEIGHT: normal; MARGIN: 8px 0px 5px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 35px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 40px; TEXT-TRANSFORM: lowercase; COLOR: #364249
}
H2 {
	FONT-SIZE: 18px
}
H3 {
	FONT-SIZE: 16px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
#navigation H1 {
	MARGIN-TOP: 0px; COLOR: #364249
}
#navigation H1 A:link {
	MARGIN-TOP: 0px; COLOR: #364249
}
#navigation H1 A {
	MARGIN-TOP: 0px; COLOR: #364249
}
.titles {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; BORDER-BOTTOM-WIDTH: 0px; TEXT-DECORATION: none; underline: none
}
.titles A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; BORDER-BOTTOM-WIDTH: 0px; TEXT-DECORATION: none; underline: none
}
.titles A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; BORDER-BOTTOM-WIDTH: 0px; TEXT-DECORATION: none; underline: none
}
.titles A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; BORDER-BOTTOM-WIDTH: 0px; TEXT-DECORATION: none; underline: none
}
BLOCKQUOTE {
	BORDER-RIGHT: #737373 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #737373 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 3px 60px 3px 20px; OVERFLOW: auto; BORDER-LEFT: #737373 1px solid; COLOR: #0a0a0a; LINE-HEIGHT: 140%; PADDING-TOP: 0px; BORDER-BOTTOM: #737373 1px solid; BACKGROUND-COLOR: #f0f0f0
}
CODE {
	BORDER-RIGHT: #737373 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #737373 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 3px 60px 3px 20px; OVERFLOW: auto; BORDER-LEFT: #737373 1px solid; COLOR: #0a0a0a; LINE-HEIGHT: 140%; PADDING-TOP: 0px; BORDER-BOTTOM: #737373 1px solid; BACKGROUND-COLOR: #f0f0f0
}
BLOCKQUOTE:hover {
	BORDER-RIGHT: #424242 1px solid; BORDER-TOP: #424242 1px solid; BORDER-LEFT: #424242 1px solid; BORDER-BOTTOM: #424242 1px solid; BACKGROUND-COLOR: #ffffff
}
CODE:hover {
	BORDER-RIGHT: #424242 1px solid; BORDER-TOP: #424242 1px solid; BORDER-LEFT: #424242 1px solid; BORDER-BOTTOM: #424242 1px solid; BACKGROUND-COLOR: #ffffff
}
CODE {
	FONT-FAMILY: "Courier New", Consolas, Verdana, Sans-Serif
}
UL {
	PADDING-LEFT: 24px; MARGIN: 0px 0px 8px; LINE-HEIGHT: 1.5em
}
OL {
	PADDING-LEFT: 24px; MARGIN: 0px 0px 8px; LINE-HEIGHT: 1.5em
}
abbr {
	CURSOR: help; BORDER-BOTTOM: #333333 1px dotted; FONT-STYLE: normal
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #333333 1px dotted; FONT-STYLE: normal
}
DEL {
	COLOR: #999999; TEXT-DECORATION: line-through
}
INS {
	COLOR: #009977; TEXT-DECORATION: none
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 8px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Tahoma, "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif; COLOR: #303030; PADDING-TOP: 0px; BACKGROUND-COLOR: #4f5255
}
#wrapper2 {
	MARGIN-TOP: 0px; MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto
}
#header {
	CLEAR: right; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 950px; HEIGHT: 69px
}
#navigation {
	BACKGROUND-IMAGE: url(images/header.jpg); MARGIN: 20px auto 0px; WIDTH: 950px; HEIGHT: 314px
}
#wrapper {
	CLEAR: both; FLOAT: left; WIDTH: 100%; COLOR: #232323
}
#content-wrapper {
	FLOAT: left; WIDTH: 740px; BACKGROUND-COLOR: #e5e5e5
}
#content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 8px
}
#sidebar-wrapper {
	MARGIN-TOP: 0px; FLOAT: right; WIDTH: 205px; BACKGROUND-COLOR: #44474b
}
#sidebar {
	PADDING-RIGHT: 8px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 190px; MARGIN-RIGHT: 0px; PADDING-TOP: 8px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 11px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 22px; WIDTH: 932px; COLOR: #cdcdcd; PADDING-TOP: 12px; BACKGROUND-COLOR: #34373b; TEXT-ALIGN: left
}
#footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#footer A {
	FONT-SIZE: 11px; COLOR: #cdcdcd
}
#footer A:visited {
	COLOR: #cdcdcd
}
#footer A:hover {
	COLOR: #cdcdcd; BORDER-BOTTOM: #cdcdcd 1px dashed
}
#extras {
	PADDING-RIGHT: 10px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px 12px 20px; WIDTH: 780px; COLOR: #444444; PADDING-TOP: 0px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: left
}
#navigation UL {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN-LEFT: 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navigation LI {
	MARGIN-TOP: 0px; FLOAT: left
}
#navigation LI A:link {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 12px; COLOR: #979797; MARGIN-RIGHT: 5px; PADDING-TOP: 12px; HEIGHT: 16px
}
#navigation LI A:visited {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 12px; COLOR: #979797; MARGIN-RIGHT: 5px; PADDING-TOP: 12px; HEIGHT: 16px
}
#navigation LI A:hover {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/nav-bg.gif) repeat-x; COLOR: #ffffff
}
#navigation LI A:active {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/nav-bg.gif) repeat-x; COLOR: #ffffff
}
#navigation LI.active A {
	COLOR: #cdcdcd; BACKGROUND-COLOR: #ffffff
}
#wrapper A:link {
	FONT-WEIGHT: bold
}
#wrapper A:visited {
	FONT-WEIGHT: bold
}
#wrapper A:hover {
	
}
#wrapper A:active {
	
}
.post-wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 720px; PADDING-TOP: 12px
}
#content .post {
	LINE-HEIGHT: 160%; PADDING-TOP: 5px
}
#content .post-title A {
	BORDER-BOTTOM-WIDTH: 0px
}
#content .post P.img {
	FLOAT: left; MARGIN: 0px 2px 0px 0px
}
#content .post-footer {
	CLEAR: both; MARGIN-TOP: 5px; PADDING-LEFT: 2px; FONT-SIZE: 12px; COLOR: #414141
}
.sideblock {
	BORDER-RIGHT: #172023 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #172023 1px solid; PADDING-LEFT: 5px; BACKGROUND: #2c2f33; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #172023 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #172023 1px solid
}
.sideblock UL {
	MARGIN-TOP: 2px; PADDING-LEFT: 4px; COLOR: #7c7f93; LIST-STYLE-TYPE: none
}
.sideblock LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 162px; WORD-BREAK: break-all; PADDING-TOP: 1px; HEIGHT: 16px; WORD-WRAP: break-word
}
.sideblock H3 {
	MARGIN-TOP: 5px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; COLOR: #949788; PADDING-TOP: 2px
}
.sideblock FORM {
	MARGIN: 2px 0px 6px 14px
}
.sideblock #s {
	BORDER-RIGHT: #939793 1px solid; BORDER-TOP: #939793 1px solid; FONT-SIZE: 12px; BACKGROUND: #f8f7f6; BORDER-LEFT: #939793 1px solid; WIDTH: 88px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: #939793 1px solid
}
#sidebar DT {
	FONT-WEIGHT: bold; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 2px
}
#sidebar DD {
	PADDING-BOTTOM: 5px; MARGIN: 0px 0px 5px; LINE-HEIGHT: 1.8em
}
#sidebar DD A:link {
	FONT-WEIGHT: normal; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#sidebar DD A:visited {
	FONT-WEIGHT: normal; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#sidebar DD A:hover {
	TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#sidebar DD A:active {
	TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#extras H6 {
	FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; COLOR: #cdcdcd
}
#friends {
	FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 150px; MARGIN-RIGHT: 10px
}
#links {
	FLOAT: left; WIDTH: 275px; MARGIN-RIGHT: 50px
}
#about {
	FLOAT: left; WIDTH: 250px; MARGIN-RIGHT: 20px
}
#friends UL {
	PADDING-LEFT: 20px
}
#links DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#links DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#links DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#links DT {
	FONT-WEIGHT: bold; PADDING-TOP: 5px
}
#links DD {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #999999 1px dotted
}
.commentlist {
	PADDING-LEFT: 2px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 16px; MARGIN-LEFT: 6px; WIDTH: 592px; BORDER-BOTTOM: #618898 1px solid; LIST-STYLE-TYPE: none
}
.commentlist LI {
	PADDING-RIGHT: 2px; MARGIN-TOP: 6px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px
}
.graybox {
	BACKGROUND: #d8d8d8
}
.commentlist .avatar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 0px
}
.commentlist .comment-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 2px; WIDTH: 520px; PADDING-TOP: 0px
}
#commentform {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; BACKGROUND: #d8d8d8; PADDING-BOTTOM: 6px; MARGIN: 1em 0px 0px 8px; WIDTH: 520px; PADDING-TOP: 2px
}
#commentform P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px; PADDING-TOP: 0px
}
#commentform LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-TOP: 0px
}
#commentform TEXTAREA {
	BORDER-RIGHT: #d6d3d3 1px solid; BORDER-TOP: #d6d3d3 1px solid; BACKGROUND: #f8f7f6; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 480px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform TEXTAREA:hover {
	BORDER-RIGHT: #d6d3d3 1px solid; BORDER-TOP: #d6d3d3 1px solid; BACKGROUND: #ececec; BORDER-LEFT: #d6d3d3 1px solid; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform TEXTAREA:unknown {
	BORDER-RIGHT: #b5b5b5 1px solid; BORDER-TOP: #b5b5b5 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #b5b5b5 1px solid; BORDER-BOTTOM: #b5b5b5 1px solid
}
#commentform #email {
	BORDER-RIGHT: #d6d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d3d3 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #f8f7f6; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; PADDING-TOP: 0px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #author {
	BORDER-RIGHT: #d6d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d3d3 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #f8f7f6; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; PADDING-TOP: 0px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #url {
	BORDER-RIGHT: #d6d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d3d3 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #f8f7f6; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; PADDING-TOP: 0px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #email:hover {
	BORDER-RIGHT: #d6d3d3 1px solid; BORDER-TOP: #d6d3d3 1px solid; FONT-SIZE: 12px; BACKGROUND: #ececec; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #author:hover {
	BORDER-RIGHT: #d6d3d3 1px solid; BORDER-TOP: #d6d3d3 1px solid; FONT-SIZE: 12px; BACKGROUND: #ececec; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #url:hover {
	BORDER-RIGHT: #d6d3d3 1px solid; BORDER-TOP: #d6d3d3 1px solid; FONT-SIZE: 12px; BACKGROUND: #ececec; BORDER-LEFT: #d6d3d3 1px solid; WIDTH: 280px; BORDER-BOTTOM: #d6d3d3 1px solid
}
#commentform #email:unknown {
	BORDER-RIGHT: #939793 1px solid; BORDER-TOP: #939793 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #939793 1px solid; WIDTH: 280px; BORDER-BOTTOM: #939793 1px solid
}
#commentform #author:unknown {
	BORDER-RIGHT: #939793 1px solid; BORDER-TOP: #939793 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #939793 1px solid; WIDTH: 280px; BORDER-BOTTOM: #939793 1px solid
}
#commentform #url:unknown {
	BORDER-RIGHT: #939793 1px solid; BORDER-TOP: #939793 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #939793 1px solid; WIDTH: 280px; BORDER-BOTTOM: #939793 1px solid
}
#commentform INPUT {
	MARGIN-BOTTOM: 3px
}
.date {
	BORDER-RIGHT: #2b2e31 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #2b2e31 1px solid; PADDING-LEFT: 0px; BACKGROUND: #44474b; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #2b2e31 1px solid; WIDTH: 48px; PADDING-TOP: 0px; BORDER-BOTTOM: #2b2e31 1px solid; HEIGHT: 54px; TEXT-ALIGN: center
}
.date .month {
	PADDING-RIGHT: 0px; MARGIN-TOP: 2px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; COLOR: #80959e; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.date .day {
	MARGIN-TOP: -8px; DISPLAY: block; FONT: 2.3em Georgia; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#left {
	FLOAT: left; WIDTH: 60px
}
